.form{
    width: 100%;
    max-width: 300px;
    background-color: white;
    padding: 1em 1.5em 2.5em;
    border-radius: 0.8em;
    position: relative;
    
}

.form__x{
    position: absolute;
    top:0.7em;
    right: 1.5em;
    cursor: pointer;
    font-size: 1.2rem;
    color:brown;
}

.form__x:hover{
    transform: scale(1.2);
}



.form__title{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1em;
}

.form__label{
    display: block;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    margin-bottom: 1rem;
}

.form__field__name{
    font-size: 0.9rem;
    font-weight: 300;
    padding-left: 1.5em;

}

.form__field{
    padding: 0.4em 1em;
    background-color:antiquewhite;
    border: 1px solid #aaa5;
    font-weight: 300;
    color: #555;

}

.form__btn{
    margin-top: 1em;    
    width: 100%;
    font-size: 1rem;
    border: none;
    padding: 0.5em 0;
    font-weight: 500;
    background-color: #555A88;
    color: white;
    border-radius: 0.5em;
    
}

.form__btn:hover{
    filter: brightness(1.2);
}