.form__container{
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #0003;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms ease transform;
}

.confirmation__card{
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #0003;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms ease transform;
}


.form__close{
  transform: scale(0);
}

.app{
  
  
  margin: auto auto;

  
}



.app__header{
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  
}

.info__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  padding: 20px;

}

.app__btn{
  background-color: darkblue;
  border: 1px solid darkblue;;
  color: white;
  
}